extends Templates/Defs.pug

mixin UpdateNews(version, ...contents)
  - var identifier = "caaz.typhon"
  #{"HugsLib.UpdateFeatureDef"}
    modNameReadable Typhon
    modIdentifier= identifier
    linkUrl https://steamcommunity.com/sharedfiles/filedetails/?id=2752054193
    defName!= identifier.replace(/\./g,"_")+"_"+version.replace(/\./g,"_")
    assemblyVersion= version
    - content = ""
    each thing in contents
      - content += "<b>"+thing[0]+"</b>\\n"
      each item in thing[1]
        - content += "<color=\"#AAAF\">- "+item+"</color>\\n"
      - content += "|"
    content= content

block defs
  +UpdateNews("1.0.0.7",
    ["Better Hivemind", [
      "Mimic hivemind now operate via signals!",
      "This means it'll generally be more responsive, and gives me more options for what kind of commands I can have the hivemind respond to!",
      "(Also, it's the first step to creating a weaver)"
    ]]
  )
  +UpdateNews("1.0.0.6",
    ["Space-Ready Typhon!", [
      "Minor patch to RaceProperties.IsFlesh which now causes Typhon to not be flesh! This will allow them to survive in the void of space!",
      "Also, adjusted their minimum temperature comfiness to -101, just low enough to survive that cold environment with little issue.",
      "No events yet to introduce typhon to spaceships, but if you've got ideas I'm ready for them."
    ]],
    ["Bugfix - Pather", [
      "As an unintended side effect of the hivemind ability, mimics would read their own mind, and try to target untargettable pawns to attack.",
      "Thanks to Pifilix, and especially CrazyOatmeal for the error output!"
    ]]
  )
  +UpdateNews("1.0.0.5",
    ["Mimic Building Comp filter", [
      "Mimics can no longer mmimic buildings with the comp \"CompCanBeDormant\", this solves them mimicing a dormant thing without a timer, making them immediately active, and causing strange situations."
    ]]
  )
  +UpdateNews("1.0.0.4",
    ["Mimic Multiplying Improvement", [
      "Mimics when feeding on bodies, will now split into a number of mimics based on how big the body was",
      "They still won't attack larger enemies, but should they find one to eat... Things could get ugly."
    ]],
    ["Added Psytrainer Recipes", [
      "Dynamically fetches existing Psytrainers, and builds a recipe for each, should work with modded psytrainers!",
      "If anything's going to break, it's this. Let me know if something weird happens, or if a rebalance is required."
    ]],
    ["Added Mod Settings", [
      "Nothing too big, but there's something in mod settings now",
      "If there's anything that should be configurable, let me know!"
    ]],
    ["Added Psytrainer Retexture", [
      "If you're really wanting to feel the prey vibe, amstaiert made some great neuromod textures to replace the skill/psytrainers",
      "By default, this feature is disabled, but you can enable it via mod settings!",
      "Big thanks to amstaiert on this one!"
    ]]
  )
  
  +UpdateNews("1.0.0.3",
    ["Typhon Hiemind", [
      "Mimics will notice when nearby mimics are attacking something, and join in. Now they're proper ambush predators!",
      "This should in theory, carry over to future Typhon that use the same utility function. - Thanks dchy"
    ]],
    ["Typhon shouldn't bleed out",
      ["Updated Typhon bodyparts to have a bleed rate of 0, allowing them to survive more encounters. - Thanks dchy"]
    ],
    ["Better UpdateNews",
      ["In general, made formatting this a lot nicer for the user, and the code."]
    ],
    ["Developer Notes", [
        "Updated the workshop page to reflect the issues I'm currently working on, as well as priorities!",
        "I'm always open to new ideas, and am loving the feedback so far! Thanks a lot for all the support!"
    ]]
  )
  +UpdateNews("1.0.0.2",
    ["Enhanced Mimic mimicing", [
      "Hidden mimics are no longer clickable, nor do they display a tooltip on hover.",
      "If updated mid-game these changes will take effect next time they hide"
    ]],
    ["Better build process", [
      "Cleaned up steam uploads a ton, now without source code! If you want that, go to github!",
      "If updated mid-game these changes will take effect next time they hide"
    ]]
  )
  +UpdateNews("1.0.0.1",
    ["Rebalanced Mimics", [
      "Reduced mimic damage, increased cooldown on attacks.",
      "Reduced surprise attack damage."
    ]],
    ["Added target size restrition to Mimics", [
      "Ensures they only attack things of size &lt; 1.5."
    ]],
    ["Introduced UpdateFeatureDef", [
      "So I can show these notes!",
      "pugjs fought me. I learned a new dynamic thing and will probably wind up re-writing a ton of defs"
    ]]
  )
