extends Templates/Defs.pug

mixin UpdateNews(version, ...contents)
  - var identifier = "caaz.typhon"
  #{"HugsLib.UpdateFeatureDef"}
    modNameReadable Typhon
    modIdentifier= identifier
    linkUrl https://steamcommunity.com/sharedfiles/filedetails/?id=2752054193
    defName!= identifier.replace(/\./g,"_")+"_"+version.replace(/\./g,"_")
    assemblyVersion= version
    - content = ""
    each thing in contents
      - content += "<b>"+thing[0]+"</b>\\n"
      each item in thing[1]
        - content += "<color=\"#AAAF\">- "+item+"</color>\\n"
      - content += "|"
    content= content

block defs
  +UpdateNews("2.2.1.0", 
    ["Nerf all Typhon", [
      "Based on player feedback, weakened mimics, and set the event to require much more wealth.",
      "I apologize for taking so long on this one! Been a busy time, working on Music Expanded Framework has taken a lot of my time and energy regarding RimWorld. Hopefully with the automated releases I'll have more time to make these adjustments"
    ]]
  )
  +UpdateNews("2.2.0.0", 
    ["Automated Releases!", [
      "This mod will now auto-update whenever I commit to the main branch. If you're seeing this, it worked!",
      "What does this mean for the players? Well, I can update, a lot quicker. Before, I'd make a commit to update the version and let github pump out a build, download that build, test it manually through rimworld, then create a github release, then a steam release. All of that took forever. Now, when a push is set to main it'll automatically do all of those steps. (except testing, ideally that should be covered while working on it anyway)",
    ]]
  )
  +UpdateNews("2.1.6.0", 
    ["Typhon Retaliation", [
      "All Typhon will now retaliate when attacked, utilizing the hivemind to alert nearby typhon of a threat.",
      "This ignores their typical attacking preferences, meaning no more mowing them down with large pawns.",
      "Should also mean long range attacks won't make you safe."
    ]],
    ["Phantom Hivemind", [
      "Typhon now have hivemind capabilities, meaning they'll be alerted to nearby threats to other typhon."
    ]]
  )
  +UpdateNews("2.1.5.0", 
    ["New Typhon Event - Herd", [
      "Typhon can now wander in from the edges of maps! No longer will you be saved by shields!",
      "Shout out to 2men23 for bringing that situation to my attention.",
      "Also, shout out to my new Creeper mod, because I just stole the herd code from that."
    ]],
    ["Bugfix - Greater Mimic Visibility", [
      "Greater Mimics were being detected by pawns because I forgot to add them to the conditional on hostility checks",
      "This has been resolved, and will now lead to colonists being properly ambushed.",
      "You're welcome everybody!"
    ]]
  )
  +UpdateNews("2.1.4.0", 
    ["Cystoid Explosion Re-work", [
      "Reworked how Cystoids explode, no longer will they burn your house down, but they will do toxic damage like they do in prey!"
    ]],
    ["Tech-Debt Work", [
      "Moved neuromod textures to a Typhon folder",
      "Updated the preview images."
    ]]
  )
  +UpdateNews("2.1.3.0", 
    ["Phantom Redesign", [
      "I've heard the comments, and decided to learn some vector art stuff. Phantom is now redesigned, hopefully to more closely match an appearance you'd expect!",
      "I've kept the skeletal motif, but I've tried to make the head more leaned forward, as we see in Prey."
    ]],
    ["Greater Mimics", [
      "Greater Mimics are now in the mod! They're functionally identical to normal mimics, with a slight speed boost.",
      "In the future, expect them to have a powerful attack that may immediately produce more mimics. The succ!"
    ]]
  )
  +UpdateNews("2.1.2.0", 
    ["Bugfix - Hidden Mimic Hostility Check", [
      "Issue #104, the hostility check previously didn't count both arguments of the function, now it does.",
      "What this means for players is, nothing should be able to \"See\" hidden mimics. This includes turrets and raiders."
    ]]
  )
  +UpdateNews("2.1.1.0", 
    ["Mimic desiccation setting", [
      "Mimics desiccating corpses seems to have caused a tps problem when there's a lot of corpses lying about. To combat this, a new setting has been added to have mimics completely destroy corpses instead!",
      "Thanks shane_357 for suggesting the feature!"
    ]],
    ["Weavers no longer require desiccated corpses to create Phantoms", [
      "As a result of less desiccated corpses, weaver phantom genesis job has been adjusted to not require a desiccated corpse.",
      "In terms of Prey lore, this seems to be accurate."
    ]],
    ["Hidden Mimic TickerType Updated to Rare", [
      "shane_357's request suggests there's also a lot of mimics on the map, likely hidden. A quick easy win here to improve TPS is to change the tickertype of hidden mimics to rare!",
      "This should, in theory help improve performance for hidden mimics. While I do try my best to test performance myself, it's a very difficult thing to gauge on my end.",
      "If anyone has any good ways of measuring performance of things in a rimworld mod, let me know and I'll do what I can to improve my workflow!"
    ]],
    ["New build system, again!", [
      "Over the past few days I've been working on a new mod-template repository, so I can start working on new, half baked mod ideas quicker!",
      "I've transitioned this repo to using that mod template, which includes some cool features. If you're interested, I would recommend checking out the repo and my discord, and I'll tell you all about it."
    ]]
  )
  +UpdateNews("2.0.1.0", 
    ["Weaver Rebalance and Typhon ThinkNode stuff", [
      "Typhon that wind up ignored by the player start to flood the map, and that's not entirely desired.",
      "Added a jobgiver for all typhon (excxept mimics) to leave the map. This should ensure typhon don't flood the map in a situation you can't get rid of them.",
      "Added a bit more health for weaver's tendrils. This should ensure they don't get downed so quickly.",
      "Thanks Conspicuous Coyote! More work to be done for dealing with downed typhon (since they don't bleed out). Ideas are welcome!"
    ]]
  )
  +UpdateNews("2.0.0.0",
    ["Oh boy, v2", [
      "Upped the major version to 2, because I transitioned the project from visual studio to VSCode.",
      "What does this mean for the players? Almost nothing. But it makes my life easier, now I can code pug and C# in the same editor!"
    ]],
    ["Operator Work", [
      "Some work on medical operators has been done. Proof of concept works, but it's not enabled for the full release yet.",
      "The good news is, things are working very well, and the only thing holding me back is that I need a texture for the operator dispenser."
    ]],
    ["Refactored Typhon Race Defs", [
      "They now inherit from a base abstract class, TyphonThingBase.",
      "This should allow people to easily add custom typhon, should they want to."
    ]],
    ["Buffed Typhon!", [
      "Typhon now have more health, and it's likely I need to scale some more.",
      "Mimics now move faster. I accidentally buffed mimics twice between the last release and now, so we'll so how that works."
    ]],
    ["New Typhon Descriptions", [
      "In general, I am bad at writing. 4Jan/Fluffwaffle has written up some descriptions which are now used in the mod huge thanks to them!"
    ]],
    ["Added Fluffwaffle's textures, then removed them!", [
      "Going forward, I won't add retextures for random things. Neuromod retexture option will stay, but making an optional retexture for the prey guns would require too much of a system for me to care about",
      "I think it's much better to leave it to another mod that can implement it in a more simple way! Check out Fluffwaffle's mods on steam!"
    ]]
  )
  +UpdateNews("1.1.2.0", 
    ["Organ Rebalance", [
      "Typhon Organs no longer considered a small volume item, and recipes are adjusted to account for that.",
      "Skilltrainers require 50 Organs, while Psytrainers require 75.",
      "Thanks for the report, a.k!"
    ]],
    ["Cystoid Nest Update", [
      "Cystoid Nests now explode when walked near!",
      "Refactored some comp stuff with this, so let me know if weird things start happening."
    ]]
  )
  +UpdateNews("1.1.1.0", 
    ["Cystoids!", [
      "Cystoids are small spikey creatures that act as mobile mines! When they near a target, they explode!",
      "They have very little health, and will explode when killed.",
      "Weavers will spawn cystoids as a defense mechanism! This changes their attack behavior."
    ]],
    ["Cystoid Nests!", [
      "Weavers will now peroidically create cystoid nests, which hold cystoids in them.",
      "These nests will become quite a problem if you enjoy flammable objects."
    ]],
    ["Tweak to Typhon attack targets", [
      "Typhon no longer check Fleshtype for targets. They'll attack anything within size limits now",
      "This ensures androids are not safe, and solves some logic issues for future features."
    ]]
  )
  +UpdateNews("1.1.0.0",
    ["New Artist, New Art!", [
      "Vali Dragunova has redone some existing assets for mimics, weavers, and phantoms!"
    ]],
    ["Milestone 1 Release!", [
      "Weavers and Phantoms are here!",
      "Mimics were the MVP to test the waters, prove I can mod, and gauge interest.",
      "It's clear to me that you all are very excited for this mod, and I don't want to let anyone down.",
      "The discord channel has been especially great to talk over upcoming features and just in general nerd out about prey. If you're not already a part of it, I'd recomend checking ito out, links on the workshop page and github.",
    ]],
    ["Weavers", [
      "Mimics will occasionally decide to attack each other, when this happens, it causes the loser to mutate into a weaver!",
      "Weavers float around and leave coral in their area. The coral is harmless, for now. In future updates, coral may be modified for additional features.",
      "When a weaver finds a dessicated humanoid corpse left behind from mimic attacks, they can create a phantom."
    ]],
    ["Phantoms", [
      "Phantoms are reanimated corpses created by weavers. They're mostly mindless, patrolling their area, and attacking anything nearby.",
      "If you listen closely, you'll find they have voice lines thanks to dendroid!",
      "Without VEF, they'll stick to melee attacks."
    ]], 
    ["Vanilla Expanded Framework usage", [
      "While this mod doesn't explicitly require Vanilla Expanded Framework, there are some additional features enabled when it's there",
      "Notably, the ability for phantoms to blink is a VEF feature, while I'd like to rework it a bit for combat, it's good enough for now.",
      "Phantoms also have a kinetic blast attack, which only works if VEF is enabled."
    ]],
    ["Diseases Overhaul Compatibility", [
      "Did a one-line-change to ensure Typhon spawned with this mod are created without hediffs.",
      "A better solution would probably ensure typhon can't ever get diseases, but this should probably work for now."
    ]],
    ["Funding", [
      "I (Caaz) pay for mod assets and I'd like to continue paying for those assets. I've been lucky enough to stumble into some great people to work with, and they deserve funding for their skills",
      "The link to pitch in for funding can be found on the workshop and on the github. I've decided to use OpenCollective, as it keeps the budget visible to all, and shows that the money is going to the right place.",
      "My goal here is to ensure I can afford quality assets, as the plans for this grow larger and larger, I'm learning there's a lot of things we're going to need!"
    ]],
    ["Bugfix - Hivemind", [
      "Hivemind no longer freaks out when non-hivemind signals are received."
    ]]
  )
  +UpdateNews("1.0.2.0",
    ["Removal of Typhon_Hidden Faction", [
      "When generating a new world, you'll no longer see two typhon factions on the list of factions generated!",
      "This may cause an error to raise when loading a world for the first time. It's generally a non-issue. Don't worry about it."
    ]],
    ["Bugfix - Pather", [
      "A bug from 1.0.1.0 occurred, the alternate mimic hiding caused a bug in the pather because of changing defs",
      "This resolves the bug from happening again, but saves with a bugged mimic will still be bugged.",
      "The hivemind can get a mimic out of the bug state, if you need to. Spawn a nearby mimic and like, a turkey or something for it to attack. It will force nearby mimics to re-do the attack job, getting out of the bug state."
    ]]
  )
  +UpdateNews("1.0.1.0",
    ["Better Hivemind", [
      "Mimic hivemind now operate via signals!",
      "This means it'll generally be more responsive, and gives me more options for what kind of commands I can have the hivemind respond to!",
      "(Also, it's the first step to creating a weaver)"
    ]],
    ["Alternative Mimic Hiding", [
      "Use an empty texture, scaled to 0 for hidden mimics. Hopefully this will help those with the visible-hidden-mimic issue. Could use modslists on this issue, I suspect a graphics cache thing."
    ]],
    ["Bugfix - Mimic job", [
      "Fixes an infinite loop on the odd chance a mimic can't path to the copied building they create.",
      "This was a funky one to figure out, a re-do of this job might be required later."
    ]]
  )
  +UpdateNews("1.0.0.6",
    ["Space-Ready Typhon!", [
      "Minor patch to RaceProperties.IsFlesh which now causes Typhon to not be flesh! This will allow them to survive in the void of space!",
      "Also, adjusted their minimum temperature comfiness to -101, just low enough to survive that cold environment with little issue.",
      "No events yet to introduce typhon to spaceships, but if you've got ideas I'm ready for them."
    ]],
    ["Bugfix - Pather", [
      "As an unintended side effect of the hivemind ability, mimics would read their own mind, and try to target untargettable pawns to attack.",
      "Thanks to Pifilix, and especially CrazyOatmeal for the error output!"
    ]]
  )
  +UpdateNews("1.0.0.5",
    ["Mimic Building Comp filter", [
      "Mimics can no longer mmimic buildings with the comp \"CompCanBeDormant\", this solves them mimicing a dormant thing without a timer, making them immediately active, and causing strange situations."
    ]]
  )
  +UpdateNews("1.0.0.4",
    ["Mimic Multiplying Improvement", [
      "Mimics when feeding on bodies, will now split into a number of mimics based on how big the body was",
      "They still won't attack larger enemies, but should they find one to eat... Things could get ugly."
    ]],
    ["Added Psytrainer Recipes", [
      "Dynamically fetches existing Psytrainers, and builds a recipe for each, should work with modded psytrainers!",
      "If anything's going to break, it's this. Let me know if something weird happens, or if a rebalance is required."
    ]],
    ["Added Mod Settings", [
      "Nothing too big, but there's something in mod settings now",
      "If there's anything that should be configurable, let me know!"
    ]],
    ["Added Psytrainer Retexture", [
      "If you're really wanting to feel the prey vibe, amstaiert made some great neuromod textures to replace the skill/psytrainers",
      "By default, this feature is disabled, but you can enable it via mod settings!",
      "Big thanks to amstaiert on this one!"
    ]]
  )
  
  +UpdateNews("1.0.0.3",
    ["Typhon Hiemind", [
      "Mimics will notice when nearby mimics are attacking something, and join in. Now they're proper ambush predators!",
      "This should in theory, carry over to future Typhon that use the same utility function. - Thanks dchy"
    ]],
    ["Typhon shouldn't bleed out",
      ["Updated Typhon bodyparts to have a bleed rate of 0, allowing them to survive more encounters. - Thanks dchy"]
    ],
    ["Better UpdateNews",
      ["In general, made formatting this a lot nicer for the user, and the code."]
    ],
    ["Developer Notes", [
        "Updated the workshop page to reflect the issues I'm currently working on, as well as priorities!",
        "I'm always open to new ideas, and am loving the feedback so far! Thanks a lot for all the support!"
    ]]
  )
  +UpdateNews("1.0.0.2",
    ["Enhanced Mimic mimicing", [
      "Hidden mimics are no longer clickable, nor do they display a tooltip on hover.",
      "If updated mid-game these changes will take effect next time they hide"
    ]],
    ["Better build process", [
      "Cleaned up steam uploads a ton, now without source code! If you want that, go to github!",
      "If updated mid-game these changes will take effect next time they hide"
    ]]
  )
  +UpdateNews("1.0.0.1",
    ["Rebalanced Mimics", [
      "Reduced mimic damage, increased cooldown on attacks.",
      "Reduced surprise attack damage."
    ]],
    ["Added target size restrition to Mimics", [
      "Ensures they only attack things of size &lt; 1.5."
    ]],
    ["Introduced UpdateFeatureDef", [
      "So I can show these notes!",
      "pugjs fought me. I learned a new dynamic thing and will probably wind up re-writing a ton of defs"
    ]]
  )
